* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #EDEDED;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.cabecalho {
  background-color: #292C2B;
}
.cabecalho__navs {
  gap: 0.7em;
}
.cabecalho__titulo {
  cursor: pointer;
}
.cabecalho__titulo__txt {
  font-weight: 700;
  font-size: 1.6em;
  color: #ffffff;
}
.cabecalho__titulo__txt__destaque {
  color: #33CC99;
}
.cabecalho__botao {
  border-color: #ffffff;
}
.cabecalho .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.nav-link {
  color: #ffffff;
  padding: 0.5em;
  box-sizing: border-box;
  border: solid 2px transparent;
  transition: border 0.3s, color 0.3s;
}
.nav-link:hover {
  color: #33CC99;
  border-color: #33CC99;
}
.nav-link.active {
  background-color: transparent !important;
  border-color: #EDEDED;
}
.separador {
  padding: 2px;
  background-color: #e3e3e3;
}
.separador__vid {
  padding: 1px;
  background-color: #e3e3e3;
  margin-bottom: 3em;
}
footer {
  background-color: #292C2B;
  color: #ffffff;
  padding: 1em 0;
  text-align: center;
}
#art1,
#art2,
#art3 {
  text-align: justify;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #EDEDED;
  border-radius: 0.5rem;
}
#art1 h2,
#art2 h2,
#art3 h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #33CC99;
  margin-bottom: 1rem;
}
#art1 h3,
#art2 h3,
#art3 h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4D4D4D;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
#art1 p,
#art2 p,
#art3 p {
  font-size: 1rem;
  color: #4D4D4D;
  line-height: 1.6;
  margin-bottom: 1rem;
}
#art1 ul,
#art2 ul,
#art3 ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
#art1 ul li,
#art2 ul li,
#art3 ul li {
  font-size: 1rem;
  color: #4D4D4D;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}
#art1 ul li strong,
#art2 ul li strong,
#art3 ul li strong {
  color: #33CC99;
}
#art1 .references,
#art2 .references,
#art3 .references {
  font-size: 1rem;
  color: #4D4D4D;
  margin-top: 2rem;
  max-width: 600px;
  width: 100%;
}
#art1 .references a,
#art2 .references a,
#art3 .references a {
  display: inline-block;
  margin-bottom: 0.5rem;
  background-color: #33CC99;
  color: #ffffff;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  position: relative;
  overflow: hidden;
}
#art1 .references a:before,
#art2 .references a:before,
#art3 .references a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292C2B;
  z-index: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
#art1 .references a:hover:before,
#art2 .references a:hover:before,
#art3 .references a:hover:before {
  transform: translateX(0);
}
#art1 .references a:hover,
#art2 .references a:hover,
#art3 .references a:hover {
  color: #ffffff;
}
#art1 .references a span,
#art2 .references a span,
#art3 .references a span {
  position: relative;
  z-index: 1;
}
#video1 h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #33CC99;
  margin-bottom: 1rem;
}
#video1 .video-container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
#video1 .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 0 auto;
  margin-bottom: 3em;
}
#video1 .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@media screen and (max-width: 1023px) {
  .cabecalho__navs {
    text-align: center;
  }
  .container {
    width: 80%;
  }
}
